/* .swiper-pagination{
    margin-top: -50px;
    display: flex;
    margin-left: 10px;
  }
  .swiper-pagination-bullet{
    background: var(--ion-color-medium) !important;
    height: 8px !important;
    width: 10px !important;
    border-radius: 10px !important;
    margin: 0px 5px !important;
    opacity: 0.5;
}
.swiper-pagination-bullet-active{
    border-radius: 10px !important;
    opacity: 1;
    background: var(--ion-color-light) !important;
    width: 30px !important;
  } */